<nav class="navbar bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class="titre-navbar" src="https://static-00.iconduck.com/assets.00/duck-icon-512x512-vw9nz9x2.png", alt="duck logo", style="max-height: 40px;"> Loc a Duck

    </a>


    <p class="navbar-title col-11 align-middle">Loc a Duck</p>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/ducks">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Mes locations</a>
          </li>
          <% if user_signed_in? %> <!-- Check if user is signed in -->
            <li class="nav-item">
              <%= link_to 'Log out', destroy_user_session_path, data: {turbo_method: :delete}, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
