//  .background-image-container {
//   background-image: url("app/assets/images/lazy_camera_girl-orEnWh0zdyw-unsplash.jpeg");
//   background-repeat: no-repeat;
//   background-position: center;
//   padding: 50px 0;
// }

.flex-container {
  max-width: 1200px;
  margin: 0 auto;
  background-image: url("app/assets/images/lazy_camera_girl-orEnWh0zdyw-unsplash.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0;
}

.title h1 {
    font-size: 60px;
    font-family: $big-title-font;
    text-align: left;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.82);
    padding-top: 24px;
}

h2 {
  font-size: 22px;
  font-family: $duck-title;
  text-align: left;
  color: #FFC65B;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.819);

}

.background {
  background-image: url('app/assets/images/carrelage.png');
  background-size: cover;
  background-position: center;
}

.card-img {
  justify-content: center;
  display: flex;
  justify-content: center; /* Alignement horizontal au centre */
  align-items: center;
  border: 10px solid #FFC65B;
}

h2.card-title {
  // padding-left: 20px;
  // padding-top: 20px;
  font-size: 20px;
  font-family: $duck-title;
  color: #484848;
}

.card-body {
  display: flex;
  // justify-content: space-around;
  flex-direction: column;
}

p.card-text {
  font-size: 15px;
  font-family: $duck-title;
  color: #484848;
  // align-items: self-end;
  // padding-right: 15px;
  // padding-bottom: 15px;
}
