
    <div>
      <h1 class="title">Bienvenue sur <em>Loc-a-Duck!</em></h1>
      <h2 class="subtitle">Le site numéro un de location de canard en plastique</h2>
    </div>

    <div class="row">
      <% @ducks.each do |duck| %>
        <div class="col-lg-4 mb-3"> <!-- Adjust column size as needed -->
          <%#= link_to duck_path(duck) do %>
          <%= link_to new_duck_booking_path(duck) do %>
            <div class="card bg-white h-100">
              <%= cl_image_tag duck.photo.key, class: "card-img-top", style: "height: 250px; object-fit: scale-down; padding: 10px;", alt: duck.title %>
              <div class="card-body">
                <h2 class="card-title"><%= duck.title %></h2>
                <p class="card-text">Prix: <%= duck.price %>€</p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
