<div class="card-product">
  <img src=<%""%> alt="">
  <div class="card-duck-infos">
    <div>
    <h2> <%= @duck.title %></h2>
    <p><%= @duck.description %></p>
    </div>
    <h2 class="card-duck-pricing"><%= @duck.price %></h2>
  </div>
  <button class="btn btn-info my-3" type="button">
    <%= link_to "Je veux le louer", new_booking_path %>
  </button>
</div>
