<h1>Mes Locations à venir</h1>
  <div class="containes">
    <div class="cards">
      <div class="row">
          <% @bookings.each do | booking| %>
        <div class="col-4">
            <div class="card m-2">
              <%= cl_image_tag booking.duck.photo.key, class: "card-img-top", alt: booking.duck.title, class:"img-thumbnail" %>
              <%= booking.duck.title %>
                <div class="date">
                  <%= booking.date %>
                  <%= booking.end_date %>
                </div>
            </div>
        </div>
          <% end %>
      </div>
    </div>
  </div>
