<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1> Duck a loc </h1>
    <p> Trouvez le canard <strong> de vos rêves </strong>! </p>
    <a class="btn btn-danger" href="#">Chercher un canard</a>
  </div>
</div>
