// navbar
<div class="card-product">
  <img src="" />
  <div class="card-product-infos">
    <h2> Duck Titre</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
    <p> Prix </p>
    <p> Ville </p>
    <a class="btn btn-danger" href="#">Louer le canard</a>
  </div>
</div>
