p{
  margin: auto;
}
.navbar-lewagon {
  justify-content: space-between;
  background: $yellow;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-title {
  font-family: $big-title-font ;
  font-size: 40px;
  margin: 0%;
}

.nav-item {
  width: 150px;
  color: $gray;
  text-decoration: none;
}

.nav-item:hover {
  border-radius: 30px;
  background-color: white;
  font-weight: 700;
}
